.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.top {
    display: flex;
}

.imgLink {
    width: 50%;
    height: 400px;
    position: relative;
}

.imgContainer {
    width: 100%;
    height: 400px;
    position: relative;
}

.img {
    object-fit: cover;
}

.date {
    font-size: 12px;
    transform: rotate(270deg);
    margin: auto;
    text-wrap: nowrap;
}

.bottom {
    width: 100%;
}

.bottom p {
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.title {
    width: 90%;
    font-size: 24px;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.desc {
    width: 90%;
    margin-bottom: 20px;
    font-weight: 300;
    color: gray;
}

.link:hover {
    text-align: end;
    text-decoration: underline;
}